<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card lead-card">
                <div class="card-header">

                    <% provide(:title, "Edit") %>
                    <h1 class="text-left">Edit user profile</h1>
                </div>
                <div class="card-body">

                    <%= render 'form', user: @user %>

                    <%= link_to 'Show', @user, :class => "btn btn-link" %> 
                    <%= link_to 'Back', :back,  :class => "btn btn-link" %>
                </div>
            </div>
        </div>
    </div>
</div>