<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Car Rental App</h5>
                        <p>Make the most of your time on the road on the platform with the largest network of active riders.</p>
                    </div>
                    <div class="col-md-6">
                        <h5>Helpfull Links</h5>
                        <div class="row">
                         <ul class="col-md-4">
                            <li><a href="">Home</a></li>
                            <li><a href="tel:+61 3 9925 2000">Contact</a></li>
                            <li> Postal address: RMIT University, GPO Box 2476, Melbourne VIC 3001 Australia
                                Street address: 124 La Trobe Street, Melbourne VIC 3000
                                Hours: Monday to Friday 9am - 5pm, Australian Eastern Standard Time.
                            </li>
                        </div>

                    </div>
                </div>

            </div>

            <div class="col-md-3">
                <h5>Connect Us</h5>
                <ul class="social-icons">
                    <li><a href="">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                version="1.1" width="350" height="350" viewBox="0 0 350 350" xml:space="preserve">
                                <desc>Created with Fabric.js 1.7.22</desc>
                                <defs>
                                </defs>
                                <g id="icon"

                                    transform="translate(-1.9444444444444287 -1.9444444444444287) scale(3.89 3.89)">
                                    <path
                                        d="M 45 0 C 20.147 0 0 20.147 0 45 c 0 24.853 20.147 45 45 45 c 24.853 0 45 -20.147 45 -45 C 90 20.147 69.853 0 45 0 z M 57.971 28.304 h -4.676 c -3.693 0 -4.411 1.755 -4.411 4.329 v 5.677 h 8.834 l -1.178 8.916 h -7.656 V 70 h -9.199 V 47.226 h -7.656 V 38.31 h 7.656 V 31.75 c 0 -7.627 4.647 -11.749 11.431 -11.749 c 2.29 -0.01 4.578 0.108 6.855 0.353 V 28.304 z"

                                        transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                </g>
                            </svg>
                        </a></li>
                    <li><a href="">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                version="1.1" width="350" height="350" viewBox="0 0 350 350" xml:space="preserve">
                                <desc>Created with Fabric.js 1.7.22</desc>
                                <defs>
                                </defs>
                                <g id="icon"

                                    transform="translate(-1.9444444444444287 -1.9444444444444287) scale(3.89 3.89)">
                                    <path
                                        d="M 45 0 C 20.147 0 0 20.147 0 45 c 0 24.853 20.147 45 45 45 c 24.853 0 45 -20.147 45 -45 C 90 20.147 69.853 0 45 0 z M 64.882 34.804 c 0.02 0.44 0.029 0.882 0.029 1.326 c 0 13.555 -10.318 29.187 -29.187 29.187 c -5.794 0 -11.185 -1.698 -15.725 -4.608 c 0.803 0.095 1.619 0.142 2.447 0.142 c 4.806 0 9.229 -1.64 12.741 -4.391 c -4.49 -0.084 -8.277 -3.049 -9.583 -7.125 c 0.625 0.12 1.268 0.185 1.928 0.185 c 0.936 0 1.843 -0.126 2.704 -0.361 c -4.693 -0.941 -8.23 -5.088 -8.23 -10.057 c 0 -0.045 0 -0.088 0.002 -0.131 c 1.383 0.769 2.964 1.231 4.646 1.283 c -2.754 -1.838 -4.565 -4.98 -4.565 -8.539 c 0 -1.879 0.507 -3.64 1.389 -5.156 c 5.059 6.207 12.619 10.289 21.144 10.718 c -0.176 -0.751 -0.266 -1.534 -0.266 -2.339 c 0 -5.663 4.594 -10.258 10.26 -10.258 c 2.95 0 5.616 1.247 7.488 3.241 c 2.337 -0.46 4.531 -1.315 6.514 -2.49 c -0.767 2.395 -2.393 4.405 -4.511 5.675 c 2.075 -0.248 4.053 -0.798 5.891 -1.615 C 68.626 31.55 66.885 33.357 64.882 34.804 z"

                                        transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                </g>
                            </svg>
                        </a></li>
                    <li><a href=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3333 3333" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"><path d="M1667 0c920 0 1667 746 1667 1667 0 920-746 1667-1667 1667C747 3334 0 2588 0 1667 0 747 746 0 1667 0zm-215 1336h342v175h5c48-86 164-175 338-175 361 0 428 225 428 517v596h-357v-528c0-126-3-288-186-288-186 0-214 137-214 279v537h-357V1336zm-247-309c0 102-83 186-186 186-102 0-186-83-186-186 0-102 83-186 186-186 102 0 186 83 186 186zm-371 309h371v1113H834V1336z"/></svg></a></li>

                </ul>
            </div>
            <div class="col-md-12">
                <p class="copyright-text">&copy; Copyright 2021. All right reserved </p>
            </div>

        </div>
    </div>
</footer>